html, body {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: auto !important;
  min-height: 100vh !important;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #020617; }
::-webkit-scrollbar-thumb { background: #1e293b; border-radius: 10px; }

* { scrollbar-width: thin; scrollbar-color: #1e293b #020617; }
html, body { overflow-y: auto !important; height: auto !important; }
